.flat-page{
	line-height: 24px;
  padding: 50px;
  font-family: 'Siddhanta' !important;
}
@media (max-width: 600px) {
  .flat-page{
    padding: 50px 0;
  }
}
.flat-page h1{
  font-family: 'Siddhanta';
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
  margin-bottom: 40px;
  padding: 50px 50px 50px 175px ;
  color: rgb(79, 79, 79);
  background: url(../images/stock/mandala-back1.png) no-repeat;
  background-position: left center;
  background-color: #FAFAFA;
  background-size: contain;
  /*box-shadow: 0 1px 15px rgba(0,0,0,0.1);*/
}
@media (max-width: 600px) {
  .flat-page h1{
    text-align: center;
  }
}
.flat-page h2{
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 15px;
	color: #ea5644;
	font-weight: 400;
	margin-top: 0;
}
.flat-page h3{
  color: #636363;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}
.flat-page h4{
	color: #636363;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
  margin: 20px 0 0px 0;
}
.flat-page strong{
	font-weight: 600;
}
.flat-page a{
	color: #ea5644;
}
.flat-page table{
	margin: 30px 0;
}
.flat-page table tr td{
	border: 1px solid rgba( 0, 0, 0, 0.05 );
	vertical-align: top;
	padding: 10px;
}
.flat-page table tr td:first-of-type{
	border-left: none;
}
.flat-page table tr td:last-of-type{
	border-right: none;
}
.flat-page .journal-logo{
	margin: 10px 20px 20px 0;
	width: 100px;
}
.flat-page .journal-desc{
	margin-left: 120px;
}
.flat-page .journal-title{
	font-size: 24px;
}

/* custom css */

.flat-page .left{
	width: 100%;
	text-align: left;
	float: left;
	margin: 1em 0 0 0;
}
.flat-page .left .info{
	overflow: auto;
}
.flat-page .left img{
	margin: 0 1.5em 0 0;
	float: left;
}

.flat-page .right{
	width: 100%;
	text-align: right;
	float: right;
	margin: 1em 0 0 0;
}
.flat-page .right img{
	margin: 0 0 0 1.5em;
	float: right;
}
.flat-page .right .info{
	overflow: auto;
}
.flat-page .more_right {
	text-align: right;
}
.flat-page .more_left {
	text-align: left;
}

.example-image-link
{
	display:inline-block;
	padding:4px;
	margin:0 0.5rem 1rem 0.5rem;
	background-color:#fff;
	line-height:0;
	-webkit-transition:background-color 0.1s ease-out;
	-moz-transition:background-color 0.1s ease-out;
	-o-transition:background-color 0.1s ease-out;
	transition:background-color 0.1s ease-out;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px
}
.example-image-link:hover
{
	background-color:#4ae;
}
.example-image
{
	width:7rem;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/stock/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/stock/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/stock/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/stock/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.flat-page .pull-right{
	margin: 15px 15px 0 0;
}
.flat-page .pull-left{
	margin: 0 0 15px 15px;
}
.flat-page a {
	color: #ea5644;
	text-decoration: none;
}
.flat-page a:hover {
	border-bottom: 1px dotted #ea5644;
}
.flat-page .content {
	padding: 0 0 0 65px;
	position: relative;
}
.flat-page .content .img{
	left: 0;
	position: absolute;
	top: 0;
}
.flat-page .content .img .fa{
	color: #999999;
}


/*Special listing styles*/

.flat-page .journal-article-list{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}
.flat-page .journal-article-list .subtitle{
  font-size: 14px;
  color: #777;
}
.flat-page .journal-article-list p:first-of-type {
  font-size: 13px;
  font-weight: 400;
  color: #777;
}
.flat-page .journal-article-list p:first-of-type span:empty{
  display: none;
}
.flat-page .journal-article-list p:first-of-type span:not(:first-child) {
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px solid rgba( 0, 0, 0, 0.05 );
}
/*.flat-page .journal-article-list img {
  height: 100px;
  float: right;
}*/
.flat-page .journal-article-list p:nth-of-type(2){
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 20px;
  color: rgb(49, 49, 49);
  border-left: 5px solid #ea5644;
}
.flat-page .journal-article-list p:nth-of-type(2) a{
  color: rgb(49, 49, 49);
}
.flat-page .journal-article-list p:nth-of-type(3){
  font-size: 15px;
  line-height: 26px;
  color: #777;
  font-weight: 400;
}
.flat-page .journal-article-list p:nth-of-type(3) a{
  color: #777;
}
.flat-page .journal-article-list div {
  padding-top: 10px;
  color: #777;
}
.flat-page .journal-article-list div span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.flat-page .journal-article-list div span:not(:last-child) {
  padding-right: 10px;
  margin-right: 5px;
  border-right: 1px solid rgba( 0, 0, 0, 0.05 );
}
.flat-page .journal-article-list div span a{
  color: #777;
}
.flat-page .journal-article-list div span a:hover{
  border-bottom: 1px dotted #777;
}

/*navigation*/
.flat-page nav{
  margin: 20px 0 20px 20px;
  padding: 0px 20px 0px 20px;
  border-left: 4px solid #ea5644;
}
.flat-page nav li{
  margin-bottom: 10px;
}
.flat-page .form-group{
  margin-bottom: 15px;
}
.flat-page .form-group label, .flat-page .form-group button{
  color: rgb(119, 119, 119);
  font-size: 14px;
}

/*Journal overview page*/

.flat-page .journal-desc-card{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-right: 30px;
  padding-left: 30px;
}
.flat-page .journal-desc-card img{
  margin-bottom: 10px;
}
.flat-page .journal-desc-card .title{
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  color: rgb(39, 39, 39);
  line-height: 18px;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.15 );
}
.flat-page .journal-desc-card .current{
  font-size: 13px;
  color: rgb(39, 39, 39);
  line-height: 18px;
}
.journal-desc-card a{
  color: rgb(39, 39, 39);
}
.journal-desc-card a:hover{
  border-bottom: none;
}

/*Forthcoming articles list*/

.flat-page .forthcoming-article-list{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.flat-page .forthcoming-article-list p:first-of-type{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 20px;
  color: rgb(49, 49, 49);
  border-left: 5px solid #ea5644;
}
.flat-page .forthcoming-article-list p:first-of-type a{
  color: rgb(49, 49, 49);
}
.flat-page .forthcoming-article-list p:nth-of-type(2){
  font-size: 15px;
  line-height: 26px;
  color: #777;
  font-weight: 400;
}
.flat-page .img-border{
  border: 1px solid rgba( 0, 0, 0, 0.05 );
}
.flat-page .thumb{
    margin-right: 20px;
    width: 90px;
}
.flat-page .outline{
    border: 1px solid #DDD;
    padding: 5px;
}
.flat-page .img-with-caption{
    font-size: 12px;
    color: #111;
    margin: 40px 0;
    line-height: 1.2em;
}
.flat-page .img-with-caption img{
    margin-bottom: 10px;
}
.flat-page .line-wider-gap td{
    line-height: 24px;
}
.flat-page .extra-height strong{
  display: inline-block;
  margin-top: 6px;
}
@media(max-width:1200px) {
  .flat-page .shrink {
      font-size: 11px;
  }
  .flat-page .journal-desc-card{
      padding-right: 20px;
      padding-left: 20px;
  }
}
.structure-1{
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  margin-right: 60px;
}
.structure-1,
.structure-2,
.structure-3,
.structure-4{
  background: url(../images/stock/mandala-back2.png) no-repeat;
  background-position: right top;
  background-size: auto;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  border-radius: 5px;
      /*box-shadow: 0 1px 3px rgba(0,0,0,0.25);*/
  /*padding: 20px;*/
}
.structure-1 h2.lead,
.structure-2 h2.lead,
.structure-3 h2.lead,
.structure-4 h2.lead{
  /*width: 100%;*/
  padding: 25px 25px 15px 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  color: #333;
  font-size: 26px;
  min-width: 120px;
  background-clip: text;
  border-bottom: 2px solid #E65100;
}
.structure-2 h2.lead{
  border-bottom: 2px solid #1565C0;
}
.structure-3 h2.lead{
  border-bottom: 2px solid #00796B;
}
.structure-4 h2.lead{
  border-bottom: 2px solid #6D4C41;
}
.structure-3 h2.lead i{
  color: #DDD;
  margin-right: 10px;
}
h2.lead-head {
  padding: 25px;
  margin-bottom: 0px;
  color: #FFF;
  font-size: 26px;
  min-width: 120px;
  background-color: #1565C0;
}
@media (max-width: 600px) {
  .structure-1{
    margin-right: 0px;
  }
}
.describe{
  margin-top: 20px;
}
.describe p.rik{
  font-size: 30px;
  line-height: 60px;
  padding: 0px 30px 50px 30px;
  border-bottom: 1px solid rgba(158,158,158,0.3);
}
.describe h3{
  color: #555;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 30px 0px 10px;
  margin: 60px 0 25px 30px;
  font-family: 'Siddhanta' !important;
}
.describe h3.blue{
  border-left: 10px solid #1565C0;
}
.describe h3.red{
  border-left: 10px solid #BF360C;
}
.describe .sayanaBhashya{
  font-size: 21px;
  line-height: 42px;
  padding: 0px 30px 50px 30px;
}
.aux-information{
  padding: 30px;
  text-align: left;
  margin-top: 20px;
  color: #3F51B5;
}
.aux-information ul{
  /*padding: 20px;*/
  text-align: center;
  font-size: 18px;
  font-family: 'Siddhanta' !important;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.25);*/
  color: #666;
}
.aux-information.nirukta ul{
  text-align: left;
}
.aux-information>ul>li{
  padding: 15px 0;
  border-bottom: 1px solid rgba(158,158,158,0.3);
}
.aux-information>ul>li:last-of-type{
  border-bottom: none;
}
.aux-information.nirukta>ul>li span.dt{
  line-height: 30px;
  font-size: 0.9em;
}
#nirukta-sidebar.affix {
    top: 0px;
}
.aux-information>ul>li span.dd{
  font-weight: bold;
}
.aux-information a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #ea5644;
}
.aux-information i.playPause{
  font-size: 50px;
  color: #CCC;
  cursor: pointer;
}
h2.lead-head.red{
  background-color: #BF360C;
}
h2.lead-head.blue{
  background-color: #1565C0;
}
.structure-1 ul{
  padding: 25px;
}
.structure-1 li{
  font-size: 20px;
  text-align: center;
  line-height: 36px;
}
.structure-1 li a{
  font-size: 20px;
  color: #B71C1C;
  padding: 0 8px;
}
.structure-1 li a.selected{
  font-size: 36px;
  padding: 0 10px;
  font-weight: bold;
}
.structure-2, .structure-4{
  margin-top: 60px;
  margin-right: 60px;
}
@media (max-width: 600px) {
  .structure-2, .structure-4{
    margin-right: 0px;
  }
}
.structure-2 ul, .structure-4 ul{
  padding: 25px;
  text-align: left;
}
.structure-2 li, .structure-4 li{
  font-size: 18px;
  min-width: 45px;
  text-align: center;
  padding: 5px 10px;
}
.structure-2 li a, .structure-4 li a{
  color: #555;
}
.structure-2 li a.selected, .structure-4 li a.selected{
  font-size: 24px;
  color: #B71C1C;
  font-weight: bold;
}
.structure-2 .prev-address, .structure-3 .prev-address, .structure-4 .prev-address{
  text-align: right;
  float: right;
  color: #666;
  font-size: 18px;
}
.structure-3{
  margin-top: 20px;
  margin-right: 0px;
}
.structure-3 ul{
  padding: 25px;
  text-align: left;
}
.structure-3 li{
  font-size: 18px;
  min-width: 45px;
  padding: 10px 5px;
  list-style-type: none;
}
.structure-3 li a{
  color: #555;
}
div.attr-list, div.pada-list{
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}
div.attr-list a{
  display: inline-block;
  color: inherit;
  padding: 5px 20px;
  margin: 0 5px;
  background-color: #EFEFEF;
}
div.attr-list a:hover, div.pada-list a:hover{
  text-decoration: none !important;
  border-bottom: none;
}
div.attr-list a.active, div.pada-list a.active{
  background-color: #BF360C;
  color: #FFF;
}
div.pada-list a{
  display: inline-block;
  color: inherit;
  text-align: center;
  width: 40px;
  padding: 5px;
  margin: 5px;
  background-color: #EFEFEF;
}
.columnar-list{
  
}
.columnar-list a{
  color: #1565C0;
}
#ajaxLoader{
  color: #FFF;
  font-size: 23px;
  margin-left: 10px;
  /*display: h*/
}
.nirukta h3{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.nirukta p{
  font-size: 18px;
  line-height: 36px !important;
}